body {
	background: black;
	font-family: oswald;
}
* {
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-body {
	display: flex;
	font-weight: 300;
}
.postcard-header {
	display: flex;
	padding: 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 500px;
	margin: 0;
	font-family: oswald;
}

.body-left p:first-child {
	margin-top: 0px;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	display: block;
	margin: 5px;
	border:none;
}
.line{
	border-bottom:2px solid light gray;
	display:block;
	
}

.postcard-footer {
	text-align: center;
	padding: 5px;
}
button {
	background-color: gray;
	padding: 5px 7px;
	color: white;
	border: none;
    
}
button:hover {
	background-color: grey;
}
